.banner {
  display: flex;
  justify-content: center;
  background-color: lightslategray;
  border-style: dashed;
  border-width: 5px;
}

.parent-of-cards {
  display: flex;
  gap: 35px;
}

.list-item {
  background-color: lightslategray;
  border-style: dashed;
  border-width: 5px;
  list-style: none;
  max-width: 350px;
  min-width: 350px;
  overflow: hidden;
}

.card-item {
  margin: 10px 10px 40px 10px;
}

.name {
  background-color: antiquewhite;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: black;
}

.card {
  text-align: start;
  font-size: 25px;
  color: black;
  text-shadow: 10px 5px 10px antiquewhite;
}
